---
import { getCollection, type CollectionEntry } from 'astro:content';
import Page from '@/components/layout/Page.astro';

export async function getStaticPaths() {
  const journals = await getCollection('journal');
  return journals.map(journal => ({
    params: { slug: journal.slug },
    props: { journal },
  }));
}

type Props = {
  journal: CollectionEntry<'journal'>;
};

const { journal } = Astro.props;
const { Content } = await journal.render();
---

<!-- 

Class	Gray scale
prose-gray (default)	Gray
prose-slate	Slate
prose-zinc	Zinc
prose-neutral	Neutral
prose-stone	Stone

--- 
Adapting to dark mode
Each default color theme includes a hand-designed dark mode version that you can trigger by adding the prose-invert class:

<article class="prose dark:prose-invert">{{ markdown }}</article>

----
Class	Body font size
prose-sm	0.875rem (14px)
prose-base (default)	1rem (16px)
prose-lg	1.125rem (18px)
prose-xl	1.25rem (20px)
prose-2xl	1.5rem (24px)
---


Element modifiers
Use element modifiers to customize the style of individual elements in your content directly in your HTML:

<article class="prose prose-img:rounded-xl prose-headings:underline prose-a:text-blue-600">
  {{ markdown }}
</article>
This makes it easy to do things like style links to match your brand, add a border radius to images, and tons more.

Here's a complete list of available element modifiers:

Modifier	Target
prose-headings:{utility}	h1, h2, h3, h4, th
prose-lead:{utility}	[class~="lead"]
prose-h1:{utility}	h1
prose-h2:{utility}	h2
prose-h3:{utility}	h3
prose-h4:{utility}	h4
prose-p:{utility}	p
prose-a:{utility}	a
prose-blockquote:{utility}	blockquote
prose-figure:{utility}	figure
prose-figcaption:{utility}	figcaption
prose-strong:{utility}	strong
prose-em:{utility}	em
prose-kbd:{utility}	kbd
prose-code:{utility}	code
prose-pre:{utility}	pre
prose-ol:{utility}	ol
prose-ul:{utility}	ul
prose-li:{utility}	li
prose-table:{utility}	table
prose-thead:{utility}	thead
prose-tr:{utility}	tr
prose-th:{utility}	th
prose-td:{utility}	td
prose-img:{utility}	img
prose-video:{utility}	video
prose-hr:{utility}	hr
When stacking these modifiers with other modifiers like hover, you most likely want the other modifier to come last:

<article class="prose prose-a:text-blue-600 prose-a:hover:text-blue-500">{{ markdown }}</article>

----


-->
<Page title={journal.data.title} description={journal.data.description || journal.data.title}>
  <article class="prose mx-auto max-w-3xl">
    <header class="mb-8 border-b border-gray-200 pb-4">
      <h1 class="mb-4 text-3xl font-bold">{journal.data.title}</h1>
      <div class="flex items-center gap-4 text-sm text-gray-500">
        <time>{journal.data.date.toLocaleDateString()}</time>
      </div>
    </header>
    <div class="max-w-none">
      <Content />
    </div>
  </article>
</Page>
