---
import { getCollection } from 'astro:content';
import PageLayout from '@/layouts/PageLayout.astro';
import PageHeader from '@/components/PageHeader.astro';
import HighlightLink from '@/components/ui/HighlightLink.astro';

const journals = await getCollection('journal');
const sortedJournals = journals.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<PageLayout title="Journal" description="My thoughts, experiments and notes.">
  <PageHeader subtitle="Where I write dumb stuff and random thoughts"> Journal </PageHeader>

  {
    sortedJournals.length === 0 ? (
      <p>coming soon...</p>
    ) : (
      <div class="flex flex-col items-start gap-4">
        {sortedJournals.map(note => (
          <article key={note.slug} class="flex items-center gap-2">
            <HighlightLink href={`/journal/${note.slug}`} className=" bg-primary/80" opacity={0.6} client:load>
              {note.data.title}
            </HighlightLink>
            <span>-</span>
            <time datetime={note.data.date.toISOString()} class="text-muted-foreground">
              {note.data.date.toLocaleDateString()}
            </time>
          </article>
        ))}
      </div>
    )
  }
</PageLayout>
